﻿@model HomeViewModel
@{
    ViewData["Title"] = "Расчет теплообмена в стационарном теплообмене в противоточном движении кусковых материалов и газов в плотном продуваемом слое";
}

@if (!string.IsNullOrEmpty(TempData["message"]?.ToString()))
{
    <div class="alert alert-danger">
        @TempData["message"]
    </div>
}


<form action="/Home/Result" method="post">
    <p>
        Начальная температура материала, 0С:<br>
    <input name="InitTempMat" value="@Model.Variant?.InitTempMat" autocomplete="off"  />
    </p>
    <p>
        Начальная температура газа, 0С:<br>
        <input name="InitTempGas" value="@Model.Variant?.InitTempGas" autocomplete="off" />
    </p>
    <p>
        Скорость газа на свободное сечение шахты, м/с:<br>
        <input name="GasSpeed" value="@Model.Variant?.GasSpeed" autocomplete="off" />
    </p>
    <p>
        Средняя теплоемкость газа,кДж: <br>
    <input name="AvgHeatGas" value="@Model.Variant?.AvgHeatGas" autocomplete="off" />
    </p>
    <p>
        Расход материалов, кг/с:<br>
        <input name="MatConsumption" value="@Model.Variant?.MatConsumption" autocomplete="off" />
    </p>
    <p>
        Теплоемкость материалов, кДж:<br>
    <input name="HeatMat" value="@Model.Variant?.HeatMat" autocomplete="off" />
    </p>
    <p>
        Объемный коэффициент теплоотдачи, Вт:<br>
        <input name="HeatCoeff" value="@Model.Variant?.HeatCoeff" autocomplete="off" />
    </p>
    <p>
        Диаметр аппарата, м:<br>
        <input name="Diameter" value="@Model.Variant?.Diameter" autocomplete="off" />
    </p>
    <p>
        Имя:<br>
    <input name="Name" value="@Model.Variant?.Name" autocomplete="off" />
    </p>

    <button type="submit">Рассчитать</button>
</form>

<h2>Варианты расчетов</h2>
<table class="table table-border">
    <tr>
        <td class="vertical-rl">Название варианта</td>
        <td class="vertical-rl">Начальная температура материала, 0С</td>
        <td class="vertical-rl">Начальная температура газа, 0С</td>
        <td class="vertical-rl">Скорость газа на свободное сечение шахты, м/с</td>
        <td class="vertical-rl">Средняя теплоемкость газа,кДж</td>
        <td class="vertical-rl">Расход материалов, кг/с</td>
        <td class="vertical-rl">Теплоемкость материалов, кДж</td>
        <td class="vertical-rl">Объемный коэффициент теплоотдачи, Вт</td>
        <td class="vertical-rl">Диаметр аппарата, м</td>
        <td></td>
    </tr>

    @foreach (var variant in Model.Variants)
    {
        <tr>
            <td>@variant.Name</td>
            <td>@variant.InitTempMat</td>
            <td>@variant.InitTempGas</td>
            <td>@variant.GasSpeed</td>
            <td>@variant.AvgHeatGas</td>
            <td>@variant.MatConsumption</td>
            <td>@variant.HeatMat</td>
            <td>@variant.HeatCoeff</td>
            <td>@variant.Diameter</td>
            <td>
                <a href="/Home/Index/?variantId=@variant.Id">Открыть</a>
                 <a href="/Home/Remove/?variantId=@variant.Id">Удалить</a>
            </td>
        </tr>

    }
</table>

