﻿@model TeploobmenOutput
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <p>
        Начальная температура материала, 0С:<br>
        <input name="InitTempMat" />
    </p>
    <p>
        Начальная температура газа, 0С:<br>
        <input name="InitTempGas"  />
    </p>
    <p>
        Скорость газа на свободное сечение шахты, м/с:<br>
        <input name="GasSpeed" />
    </p>
    <p>
        Средняя теплоемкость газа,кДж:<br>
        <input name="AvgHeatGas"/>
    </p>
    <p>
        Теплоемкость материалов, кДж:<br>
        <input name="MatConsumption" />
    </p>
    <p>
        Расход материалов, кг/с:<br>
        <input name="HeatMat" />
    </p>
    <p>
        Объемный коэффициент теплоотдачи, Вт:<br>
        <input name="HeatCoeff"/>
    </p>
    <p>
        Диаметр аппарата, м:<br> 
        <input name="Diameter"/>
    </p>
    <button type="submit">Рассчитать</button>
</form>

@if(Model != null)
{
    <table class="table">
        <tr>
            <td>Y</td>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <td>@Model.Rows[i].Y</td>
            }
        </tr>
        <tr>
            <td>RelHeight</td>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <td>@Model.Rows[i].RelHeight</td>
            }
        </tr>
        <tr>
            <td>Intermediate1</td>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <td>@Model.Rows[i].Intermediate1</td>
            }
        </tr>
        <tr>
            <td>Intermediate2</td>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <td>@Model.Rows[i].Intermediate2</td>
            }
        </tr>
        <tr>
            <td>V</td>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <td>@Model.Rows[i].V</td>
            }
        </tr>
        <tr>
            <td>RelTempGas</td>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <td>@Model.Rows[i].RelTempGas</td>
            }
        </tr>
        <tr>
            <td>temp</td>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <td>@Model.Rows[i].temp</td>
            }
        </tr>
        <tr>
            <td>Temp</td>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <td>@Model.Rows[i].Temp</td>
            }
        </tr>
        <tr>
            <td>Diff</td>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <td>@Model.Rows[i].Diff</td>
            }
        </tr>
    </table>

    <div>
        <h3>Изменение температуры окатышей и газа по высоте слоя</h3>
        <canvas id="ChartChangeTemp"></canvas>
        <h3>Разность температур окатышей и газа</h3>
        <canvas id="ChartDiffTemp"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx1 = document.getElementById('ChartChangeTemp');
        const data = {
            labels: @Json.Serialize(Model.Rows.Select(x => x.Y).ToList()),
            datasets: [
                {
                    label: 't',
                    data: @Json.Serialize(Model.Rows.Select(x => x.temp).ToList()),

                },
                {
                    label: 'T',
                    data: @Json.Serialize(Model.Rows.Select(x => x.Temp).ToList()),

                }
            ]
        };
        const configLine1 = {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                    }
                }
            },
        };
        new Chart(ctx1, configLine1);
        const ctx2 = document.getElementById('ChartDiffTemp');
        const data2 = {
            labels: @Json.Serialize(Model.Rows.Select(x => x.Y).ToList()),
            datasets: [
                {
                    label: 'temp',
                    data: @Json.Serialize(Model.Rows.Select(x => x.Diff).ToList()),

                },
            ]
        };
        const configLine2 = {
            type: 'line',
            data: data2,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                    }
                }
            },
        };
        new Chart(ctx2, configLine2)
    </script>
    
}